<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Sitecore_Habitat_Feature1" description="Feature Sitecore_Habitat_Feature1" dependencies="Foundation.Serialization,Foundation.Indexing" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\Sitecore_Habitat_Feature1\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Sitecore_Habitat_Feature1.Templates" database="master" path="/sitecore/templates/Feature/Sitecore_Habitat_Feature1" />
            <include name="Feature.Sitecore_Habitat_Feature1.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Sitecore_Habitat_Feature1" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>